
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center my-4">Available slots</h1>
<table border="1" class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th class="text-center">Time Slot</th>
            {% for day in days_of_week %}
                <th class="text-center">{{ day }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time_slot in time_slots %}
            <tr>
                <td class="text-center">{{ time_slot.start_time }} - {{ time_slot.end_time }}</td>
                {% for day in days_of_week %}
                    <td>
                        <ul class="list-unstyled">
                            {% for availability in weekly_availability %}
                                {% if availability.day == day and availability.slot.start_time == time_slot.start_time and availability.slot.end_time == time_slot.end_time %}
                                    {% for room in availability.available_rooms %}
                                        <li>{{ room.number }}</li>
                                    {% empty %}
                                        <li class="text-muted">No available rooms</li>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<style>
    .table {
        width: 100%;
        margin-top: 20px;
    }
    .table th, .table td {
        vertical-align: middle;
        text-align: center;
        padding: 10px;
    }
    .thead-dark {
        background-color: #343a40;
        color: white;
    }
    th {
        background-color: rgb(3, 14, 24);
    }
    td {
        background-color: #fff;
    }
    .text-muted {
        color: #6c757d;
    }
    .list-unstyled {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .my-4 {
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
    }
</style>
{% endblock %}
